html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

body {
    margin: 0rem;
}

header{
    display: flex;
    justify-content: center;
    padding: 3.125rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.75rem 1.25rem;
}

a:hover {
    box-shadow: inset -0.063rem 0 0 #900, inset 0 -0.063rem 0 #900, inset 0.063rem 0 0 #900, inset 0 0.063rem 0 #900;
}

.cabecalho {
     
    display: flex;
    flex-wrap: wrap;
    /* responsividade ideal: quebrar a linha e alinhar elementos ao centro */
    gap: 1.25rem;
    justify-content: center;

    li {
        font-size: 0.938rem;
        text-align: center;   
        background-color: white;
        font-weight: 100;
        padding: 0.75rem 0rem;
        list-style: none;
        display: inline-block;
    }
}



.corpo {
    display: grid;
    grid-template-columns: 28.125rem 28.125rem;
    /* ou: grid-template-columns: 1fr 1fr; 
           max-width 62.5rem; */
    padding: 1.25rem 1.25rem 3.75rem 1.25rem;
    justify-content: center;
    margin-top: 1.25rem;
    
}

.parte1 {
    width: 100%;
    text-align: right;
    font-size: 1.25rem;
    background-color: white;
    position: relative;
    
    #botaoCompra {
        color: white;
        background-color: #ee2211;
        border-radius: 0.25em;
        padding: 0.625rem 1.25rem;
        margin: 0.938rem;    
    }
    
    a#botaoCompra:hover{
        background-color: #900;
        transition: 0.3s;
    }
    
    h2 {
        padding: 2.5rem 0.938rem 0rem 0rem;
        position: relative;
    }
    
    h2::before {
        position: absolute;
        content: "";
        width: 3.25rem;
        height: 0.25rem;
        background-color: red;
        right: -1.625rem;
        top: 0.063rem;
    }
    
    p {
        padding: 0.625rem 0.938rem 0.625rem 0.625rem;
    }
}

.parte2 img{
    display: block;
    max-width: 100%;
    width: 100%;
}

.parte3 {
    max-height: 25rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.188rem;
    place-content: center;
    padding: 0rem 0.938rem 0rem 0rem;
    text-align: right;
    font-size: 2.375rem;
    color: #c6c6c6;;
    h2 {
        grid-row: 2;
        background-image: url(./img/onda.svg);
        background-size: 62.5rem;
        margin: 0;
        padding: 3.125rem 0rem 3.125rem 3.125rem
    }
}

.parte4 {
    max-height: 25rem;
    background-color: white;
    margin: 0rem;
    display: grid;        
    place-content: center;

        /* padding: 2.813rem 3.125rem 0rem 3.125rem; */
        h3, p {
            margin: 0rem;
        }

        p {
            /* padding: 0rem 1.25rem 1.563rem 2.5rem; */
        }
        
        ol {
            list-style: none;
            padding: 0rem;
        }

        .listaVantagens li:nth-child(odd) {
            background-color: #f7f7f7;
        } 
        
        #eletrica {
            display: block;
            width: 21.875rem;
            padding: 0.938rem;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.938rem;
            p {
                grid-column: 2;
            }
        }
        
        #velocimetro {
            display: grid;
            padding: 0.938rem;
            width: 21.875rem;
            grid-template-columns: auto 1fr;
            gap: 0.938rem;
            p {
                grid-column: 2;
            }
        }
        
        #rastreador {
            padding: 0.938rem;
            width: 21.875rem;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.938rem;
            p {
                grid-column: 2;
            }
        }
}

footer {
    text-align: center;
    background-color: white;
    padding: 1.25rem 0rem 0.625rem 0rem;
    font-size: 1.25rem;
    /* box-sizing: border-box; */
}

